@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --l: 7;
  --bg: hsla(0, 0%, calc(var(--l) * 1%), 1);
  --white-text: #fff;
  --alpha: 0;
}
body {
  background: var(--bg);
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.apple-video {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
video {
  height: 100vh;
  width: 100vw;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 50%;
     object-position: 100% 50%;
}
.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.section {
  height: 100vh;
}
.section__content {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.section--title {
  height: 100vh;
}
.section--intro,
.section--2,
.section--3,
.section--4,
.section--lerping,
.section--blurb1,
.section--dance {
  height: 300vh;
}
.section--title .section__content,
.section--2 .section__content,
.section--3 .section__content,
.section--4 .section__content,
.section--intro .section__content,
.section--blurb1 .section__content {
  background: hsla(0, 0%, 7%, var(--alpha));
  color: var(--white-text);
}
.section--intro .text,
.section--4 .text,
.section--3 .text,
.section--2 .text {
  opacity: 0;
  transform: translate(0, 100%);
}
.blurb {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.blurb p {
  width: 300px;
  opacity: 0;
  transform: translate(0, 100%);
}
p {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  p {
    font-size: 2rem;
  }
}
h1.text {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h1.text {
    font-size: 4rem;
  }
}
h2.text {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h2.text {
    font-size: 2rem;
  }
}
h1,
h2,
p {
  margin: 0;
}

.delayed-section {
  position: absolute;
  width: 30vw;
  height: 38.87vw;
}
.delayed-section .inner-container {
  will-change: transform;
}
.delayed-section img {
  max-width: 100%;
  will-change: transform;
}

#del1 {
  top: 101vh;
  left: 10vw;
}
#del2 {
  top: 110vh;
  left: 60vw;
}
#del3 {
  top: 120vh;
  left: 30vw;
}

canvas {
  max-width: 100vw;
  max-height: 100vh;
}